@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100%;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}
  
p {
      line-height: 1.5;
      font-size: 16px;
}
  
a {
      text-decoration: none;
}

.text-maroon {
    color: maroon;
}

body {  
    overflow-x: hidden;
}

.logo {
    width: 200px;
    height: 200px;
    filter: invert(1);
}

.logo1 {
    width: 200px;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
    height: 50vh;
}

/*NAVIGATION BAR*/

nav {
    width: 100%;
    max-width: 1100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    margin-top: 85px;
    padding: 0 16px;
}

.nav__link {
    margin-left: 32px;
    text-decoration: none;
    font-size: 24px;
    color: maroon;
    font-weight: bold;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 3px solid maroon;
    border-radius: 4px;
    padding: 5px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.button__menu {
    background-color: transparent;
    padding-right: 20px;
    font-size: 40px;
    text-align: center;
    border: none;
    display: none;
    color: maroon;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all opacity 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu__links {
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: white;
}

.button__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

#landing__page {
    background-color: rgb(224, 211, 211);
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*HEADER*/

header {
    height: calc(100vh - 80px);
}

.header__container {
    padding-top: 24px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: maroon;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 32px;
}


button:active {
    transform: translateY(1px);
}

.button {
    cursor: pointer;
    background-color: maroon;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

.header__img--wrapper {
    padding: 2px;
    z-index: 50;
}

.container {
    padding: 50px 0;
    width: 100%;
}
.container1 {
    padding: 50px 0;
    width: 100%;
}
.container2 {
    padding: 50px 0;
    width: 100%;
}
.container3 {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HIGHLIGHTS */


/* #highlights:before {
    background: url('Assets/wave.svg');
    content: "";
    position: relative;
    width: 101vw;
    height: 12vw;
    top: 1px;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-100%) rotate(180deg);
}

#highlights:after {
    background: url('Assets/wave.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    top: 1px;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(100%);
} */

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;

}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.highlight__para {
    text-align: center;
    width: 50%;
}

.highlight__img {
    font-size: 32px;
    color: maroon;
    border: 3px solid rgba(128, 0, 0, 0.308);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 24px;
}

.highlight__sub--title {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}


/* MOVIES */

#featured__movies {
    background-color: rgb(224, 211, 211);
}

#features {
    padding-top: 8vw;
    background-color: rgb(224, 211, 211);
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 25%;
    padding: 20px;
    
}

.movie__img {
    max-height: 350px;
    transition: all 300ms ease;
}

.movie__img--wrapper {
    height: 75%;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
}

.movie__img--wrapper:hover .movie__description{
    opacity: 1;
    transform: translateY(-50%)
}

.movie__img--wrapper:hover .movie__img {
    transform: scale(1.07);
    filter: blur(100px);
    transition: all 300ms ease;
}


.movie__description {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: rgb(0, 0, 0);
    max-width: 550px; 
}

.movie__description--para {
    filter:brightness(1.5);
    line-height: 4;
    font-weight: bold;
    width: 85%;
    margin: 0 auto;
}

.movie__img--wrapper:hover .movie__img-wrapper--bg {
    opacity: 1;
}

.movie__img-wrapper:hover .movie__img-wrapper--bg {
    opacity: 0.7;
}


.movie:hover .movie__img {
    transform: scale(1.03);
}


.movie__title {
    padding-top: 8px;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
}

.movie__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.movie__rating {
    margin-bottom: 8px;
    color: #000000;
    text-align: center;
    font-weight: 400;
}

.text-gold {
    color: rgb(190, 171, 63);
}

.movie__money--made {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}




/* EXPLORE */

#explore{
    background-color: rgb(224, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}


.explore__button:active {
    transform: translateY(1px);
}

.explore__button {
    cursor: pointer;
    background-color: maroon;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}




/*FOOTER*/

footer{
    position: relative;
    background-color: #242424;
    display: flex;
    padding: 1% 0;
}

.footer_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8%;
}


.footer_social--list{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}

.logo1{
    width: 150px;
    height: 150px;
    margin-top: 26px;
    border-radius: 25%;
}

.footer_social--link,
.footer_copyright, 
.footer_logo--popper{ 
color: #fff;
}

.footer_logo--popper{
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_anchor{
    position: relative;
    margin-bottom: 20px;
}

.footer_anchor:hover .footer_logo--popper{
transform: translateX(60PX);
opacity: 1;
}






@media (max-width: 3000px) {
    .button__menu {
        display: none;
    }
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .movie {
        width: 50%;
    }

    .movie__img {
        height: 100%;
    }

    

    .container1 {
        height: 50vh;
    }

    .A-button__menu {
        display: none;
    }

    .highlight__para {
        width: 85%;
    }

}




@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .button__menu {
        display: block;
    }

    .highlight {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 33%;
    }

    .highlight__sub--title {
        width: 100%;
        height: 33.333%;

    }


    .highlight__para {
        width: 100%;
        height: 100%;
    }
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .movie {
        width: 50%;
    }


    .movie__description {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }


    .movie__img {
        width: 100%;
    }

    .movie__img--wrapper {
        width: 100%;
        height: 65%;
    }

    .container {
        width: 100%;
        height: 100vh;
    }

    .container1 {
        height: 55vh;
    }

    .container2 {
        padding: 50px 0;
        width: 100%;
    }

    .container3 {
        padding: 50px 0;
        width: 100%;
    }

    

    
    
}

